In [68]:
import pandas as pd
import numpy as np

from sklearn.svm import SVR
from sklearn.svm import NuSVR
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

from sklearn.model_selection import GridSearchCV

In [69]:
# #PATH

path_info = "F:/178/Tugas Akhir/dataset/annotations/"
path_to_fitur = "F:/178/Tugas Akhir/dataset/coba fitur/"
path_to_file = "F:/178/Tugas Akhir/dataset/clips_45sec_wav/"
path_to_experiment ="F:/178/Tugas Akhir/dataset/experiment/"

In [115]:
# datafitur = "mfcc"
datafitur = "mfcc+timbre"
data = pd.read_csv(path_to_experiment + datafitur+".csv",header=None)
ground = pd.read_csv(path_info + "static_annotations.csv")

arousal_mean = ground['mean_arousal']
valence_mean = ground['mean_valence']
arousal_std = ground['std_arousal']
valence_std = ground['std_valence']

In [85]:
# print(data.shape)
# print(arousal_mean.shape)

(744, 25194)
(744,)

In [92]:
print(data.shape)
print(arousal_mean.shape)

(744, 32946)
(744,)

In [116]:
svr = SVR(kernel='rbf',gamma =1e-8,C=10)

In [117]:
train_data, test_data, train_values, test_values = train_test_split(data,arousal_mean,test_size=0.3,random_state=1000)

In [118]:
svr.fit(train_data,train_values)
a=svr.predict(test_data)
a_round = a.round(1)

In [113]:
# # np.shape(a)
# df = pd.DataFrame(data=[a,a_round,test_values])
# df

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,4.554816,4.770748,7.374234,4.330678,3.331443,4.194101,2.688409,6.25445,2.777111,4.838265,...,6.4616,5.264354,4.740163,4.78974,4.953286,5.035861,6.158411,6.713504,5.214165,2.695456
1,4.600000,4.800000,7.400000,4.300000,3.300000,4.200000,2.700000,6.30000,2.800000,4.800000,...,6.5000,5.300000,4.700000,4.80000,5.000000,5.000000,6.200000,6.700000,5.200000,2.700000
2,6.200000,5.900000,6.400000,3.100000,3.500000,3.600000,3.000000,5.80000,3.600000,6.200000,...,7.0000,5.000000,3.700000,5.80000,4.700000,4.900000,4.800000,6.300000,3.300000,2.200000

In [114]:
# r2 = r2_score(test_values, a)
# r2_round = r2_score(test_values, a_round)

# print(r2)
# print(r2_round)

0.61328197625
0.614028024135

In [119]:
# np.shape(a)
df = pd.DataFrame(data=[a,a_round,test_values])
df

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,4.802124,4.802124,4.802124,4.802124,4.802124,4.802124,3.867798,4.802124,4.802124,4.802124,...,4.802124,4.802124,4.802126,4.802124,4.802124,4.802124,4.802124,4.802124,4.802124,4.801467
1,4.800000,4.800000,4.800000,4.800000,4.800000,4.800000,3.900000,4.800000,4.800000,4.800000,...,4.800000,4.800000,4.800000,4.800000,4.800000,4.800000,4.800000,4.800000,4.800000,4.800000
2,6.200000,5.900000,6.400000,3.100000,3.500000,3.600000,3.000000,5.800000,3.600000,6.200000,...,7.000000,5.000000,3.700000,5.800000,4.700000,4.900000,4.800000,6.300000,3.300000,2.200000

In [120]:
r2 = r2_score(test_values, a)
r2_round = r2_score(test_values, a_round)

print(r2)
print(r2_round)

0.0542269218134
0.0535705544675

In [123]:
#Arousal

svr = SVR(kernel='rbf',gamma =1e-8)

# parameters = {'C':[5.0, 50.0, 500.0, 1000.0]}
# parameters = {'C':[1.0,2.0,2.5,3.0,3.5,4.0,4.5,5.0,7.0]}
parameters = {'C':[4.0,4.1,4.2,4.3,4.4]}

clf = GridSearchCV(svr, parameters, cv=10, scoring='r2')
clf.fit(data,arousal_mean)

clf.best_params_

C:\Users\5115100178\AppData\Local\Continuum\Anaconda3\envs\py36\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

{'C': 4.0}

In [49]:
#Valence

svr = SVR(kernel='rbf',gamma =1e-8)
parameters = {'C':[1.0,1.1,1.2,1.3,1.4,1.5]}

clf = GridSearchCV(svr, parameters, cv=10, scoring='r2')
clf.fit(data,arousal_mean)

clf.best_params_

C:\Users\5115100178\AppData\Local\Continuum\Anaconda3\envs\py36\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

{'C': 1.5}

In [36]:
# svr_a = SVR(kernel='rbf',gamma =1e-8,C=1.3)

# scores_am = cross_val_score(svr,data,arousal_mean,scoring='r2',cv=10)
# # scores_as = cross_val_score(svr,data,arousal_std,scoring='r2',cv=10)

# print("R2 Score Arousal: %0.2f (+/- %0.2f)" % (scores_am.mean(), scores_am.std() * 2))

R2 Score Arousal: 0.54 (+/- 0.15)
R2 Score Valence: 0.10 (+/- 0.35)

In [51]:
# svr_v = SVR(kernel='rbf',gamma =1e-8,C=1.5)
# scores_vm = cross_val_score(svr_v,data,valence_mean,scoring='r2',cv=10)
# # scores_vs = cross_val_score(svr,data,valence_std,scoring='r2',cv=10)

# print("R2 Score Valence: %0.2f (+/- %0.2f)" % (scores_vm.mean(), scores_vm.std() * 2))

R2 Score Valence: 0.10 (+/- 0.35)

In [ ]:
svr_a = SVR(kernel='rbf',gamma =1e-8,C=4.0)

scores_am = cross_val_score(svr,data,arousal_mean,scoring='r2',cv=10)
# scores_as = cross_val_score(svr,data,arousal_std,scoring='r2',cv=10)

print("R2 Score Arousal: %0.2f (+/- %0.2f)" % (scores_am.mean(), scores_am.std() * 2))

In [ ]:
svr_v = SVR(kernel='rbf',gamma =1e-8,C=1.5)
scores_vm = cross_val_score(svr_v,data,valence_mean,scoring='r2',cv=10)
# scores_vs = cross_val_score(svr,data,valence_std,scoring='r2',cv=10)

print("R2 Score Valence: %0.2f (+/- %0.2f)" % (scores_vm.mean(), scores_vm.std() * 2))