In [1]:
import pandas as pd
import numpy as np
from sklearn.externals import joblib

from sklearn.gaussian_process import GaussianProcessRegressor as GPR
from sklearn.gaussian_process.kernels import RationalQuadratic
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import minmax_scale

In [2]:
# #PATH
path_info = "F:/178/Tugas Akhir/dataset/annotations/"
path_to_fitur = "F:/178/Tugas Akhir/dataset/coba fitur/"
path_to_experiment ="F:/178/Tugas Akhir/dataset/experiment/"
path_to_model = "F:/178/Tugas Akhir/dataset/model/"
path_to_predict = "F:/178/Tugas Akhir/dataset/predict/"

# path_info = "C:/Users/USER/Downloads/Tugas Akhir/dataset/annotations/"
# path_to_fitur = "C:/Users/USER/Downloads/Tugas Akhir/dataset/coba fitur/"
# path_to_experiment ="C:/Users/USER/Downloads/Tugas Akhir/dataset/experiment/"
# path_to_model = "C:/Users/USER/Downloads/Tugas Akhir/dataset/model/"
# path_to_predict = "C:/Users/USER/Downloads/Tugas Akhir/dataset/predict/"

In [3]:
def load(fitur):
    data = pd.read_csv(path_to_experiment + fitur+".csv",header=None)
    ground = pd.read_csv(path_info + "static_annotations.csv")

    arousal_mean = ground['mean_arousal']
    valence_mean = ground['mean_valence']
    
    return data,arousal_mean,valence_mean

def split(data,value):
    train_data, test_data, train_values, test_values = train_test_split(data,value,test_size=0.3,random_state=1000)
    
    return train_data, test_data, train_values, test_values

def training(data,values,clf):
    trained = clf.fit(data,values)
    
    return trained
    
def predict(test,true,clf):
    pred = clf.predict(test)
    df = pd.DataFrame(data=[pred,true])
    
    return pred,df

def score(pred,true):
    r2 = r2_score(true, pred)
    
    return r2

def crosval(clf,data,values):
    scores = cross_val_score(clf,data,values,scoring='r2',cv=10)
    
    return scores

def save_model(model,case,types):
    path = path_to_model+types+case+'.sav' # save the model
    joblib.dump(model, path)

def save_predict(df1,df2,case):
    path = path_to_predict+case+".xlsx" # save the model
    arousal = df1.T
    valence = df2.T
    merged = arousal.merge(valence, how='outer', left_index=True, right_index=True)
    merged.to_excel(path,header=None,index=None)

def norm(data):
    scaler.fit(data)
    normalized = scaler.transform(data)
    
    return normalized

In [4]:
kernels = RationalQuadratic(length_scale=1.0, alpha=1.0, 
                            length_scale_bounds=(1e-6, 1e6), 
                            alpha_bounds=(1e-6, 1e6))

# kernels = RBF(length_scale=1.0, length_scale_bounds=(1e-05, 100000.0))
# kernels = ExpSineSquared(length_scale=1.0, periodicity=1.0, 
#                          length_scale_bounds=(1e-07, 10000000.0), 
#                          periodicity_bounds=(1e-07, 10000000.0))

# CASE 1

In [5]:
# datafitur = "case1_mfcc" #CASE 1

# data,arousal_mean,valence_mean = load(datafitur) #Load
# print(data.shape)

# scaled_ar = minmax_scale(arousal_mean.values,feature_range=(-1, 1))
# scaled_val = minmax_scale(valence_mean.values,feature_range=(-1, 1))

# #split arousal
# train_data_a, test_data_a, train_values_a, test_values_a = split(data,scaled_ar)
# #split valence
# train_data_v, test_data_v, train_values_v, test_values_v = split(data,scaled_val)

(744, 26)

INITIAL MODEL

In [6]:
# gpr_a = GPR(kernel=kernels, alpha=1e-10, 
#                     optimizer='fmin_l_bfgs_b', 
#                     n_restarts_optimizer=10, 
#                     normalize_y=True, copy_X_train=False, 
#                     random_state=1000) #init Arousal

# gpr_v = GPR(kernel=kernels, alpha=1e-10, 
#                     optimizer='fmin_l_bfgs_b', 
#                     n_restarts_optimizer=10, 
#                     normalize_y=True, copy_X_train=False, 
#                     random_state=1000) #init Arousal

# gpr_a = GPR(kernel=kernels,normalize_y=True,random_state=1000,alpha=0.1)
# gpr_v = GPR(kernel=kernels,normalize_y=True,random_state=1000,alpha=0.1)

In [7]:
# print("arousal:\t",gpr_a.kernel)
# print("arousal:\t",gpr_v.kernel)

arousal:	 RationalQuadratic(alpha=1, length_scale=1)
arousal:	 RationalQuadratic(alpha=1, length_scale=1)

TRAIN

In [8]:
# trained_a = training(train_data_a,train_values_a,gpr_a)
# trained_v = training(train_data_v,train_values_v,gpr_v)

PREDICT

In [9]:
# # #Predict Arousal
# pred_a,df_a = predict(test_data_a, test_values_a, trained_a)
# # #Predict Valence
# pred_v,df_v = predict(test_data_v, test_values_v, trained_v)

# r2_a = score(pred_a,test_values_a) #Score Arousal
# r2_v = score(pred_v,test_values_v) #Score Valence

SET PARAM

In [10]:
# trained_a.set_params(kernel=trained_a.kernel_)
# trained_v.set_params(kernel=trained_v.kernel_)

# print("arousal:\t",trained_a.kernel)
# print("valence:\t",trained_v.kernel)

arousal:	 RationalQuadratic(alpha=0.0307, length_scale=4.12)
valence:	 RationalQuadratic(alpha=0.0311, length_scale=2)

AROUSAL

In [11]:
# # df_a = df_a.round(2)

# display(df_a.head())
# print("R2 Score Arousal:\t%0.2f" % r2_a)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,-0.088238,0.235580,0.584982,-0.405384,-0.410139,-0.086915,-0.809901,0.261002,-0.443631,-0.091556,...,0.487067,1.177945e-01,0.001863,-0.155370,-0.057214,-0.004002,0.324561,0.356283,-0.228,-0.453356
1,0.352941,0.264706,0.411765,-0.558824,-0.441176,-0.411765,-0.588235,0.235294,-0.411765,0.352941,...,0.588235,-2.220446e-16,-0.382353,0.235294,-0.088235,-0.029412,-0.058824,0.382353,-0.500,-0.823529

R2 Score Arousal:	0.64

VALENCE

In [12]:
# # df_v = df_v.round(2)

# display(df_v.head())
# print("R2 Score Valence: %0.2f" % r2_v)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,0.179347,0.324119,0.485976,-0.145413,-0.068155,0.106264,-0.321716,0.232469,-0.074331,0.044818,...,0.425284,0.331999,0.005170,-0.038969,-0.014026,0.051305,0.158851,-0.001306,-0.139625,-0.448638
1,-0.661538,0.476923,0.353846,-0.661538,0.046154,-0.507692,-0.076923,-0.169231,-0.230769,0.569231,...,0.538462,-0.015385,-0.723077,0.230769,-0.323077,-0.138462,0.507692,0.507692,-0.261538,-0.415385

R2 Score Valence: 0.29

REGRESSION

In [13]:
# scores_a = crosval(gpr_a,data,scaled_ar) #Arousal Regression
# scores_v = crosval(gpr_v,data,scaled_val) #Arousal Regression

C:\Users\5115100178\AppData\Local\Continuum\Anaconda3\envs\py36\lib\site-packages\sklearn\gaussian_process\gpr.py:480: ConvergenceWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'grad': array([ 0.00064483, -0.0321948 ]), 'task': b'ABNORMAL_TERMINATION_IN_LNSRCH', 'funcalls': 52, 'nit': 3, 'warnflag': 2}
  ConvergenceWarning)
C:\Users\5115100178\AppData\Local\Continuum\Anaconda3\envs\py36\lib\site-packages\sklearn\gaussian_process\gpr.py:480: ConvergenceWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'grad': array([ 0.00063104, -0.00156853]), 'task': b'ABNORMAL_TERMINATION_IN_LNSRCH', 'funcalls': 51, 'nit': 2, 'warnflag': 2}
  ConvergenceWarning)

AROUSAL

In [14]:
# print("R2 Score Valence:\t",scores_a)
# print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_a.mean(), scores_a.std() ))

R2 Score Valence:	 [ 0.39113875  0.47493296  0.51594495  0.51277248  0.66185402  0.56923713
  0.51420647  0.59929901  0.64047246  0.5246607 ]
R2 Score Valence:	0.54 (+/- 0.08)

VALENCE

In [15]:
# print("R2 Score Valence:\t",scores_v)
# print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_v.mean(), scores_v.std() ))

R2 Score Valence:	 [ 0.08777192  0.03972039  0.02537876 -0.16568591  0.36585407  0.09138349
  0.31712252  0.26211364  0.27678954  0.11349062]
R2 Score Valence:	0.14 (+/- 0.15)

In [16]:
# save_predict(df_a.round(2),df_v.round(2),datafitur)
# save_model(trained_a,datafitur,'arousal/') #save model Arousal
# save_model(trained_v,datafitur,'valence/') #save model Valence

# CASE 2

In [17]:
# datafitur = "case2_timbre" #CASE 2

# data,arousal_mean,valence_mean = load(datafitur) #Load
# print(data.shape)

# scaled_ar = minmax_scale(arousal_mean.values,feature_range=(-1, 1))
# scaled_val = minmax_scale(valence_mean.values,feature_range=(-1, 1))

# train_data_a, test_data_a, train_values_a, test_values_a = split(data,scaled_ar) #split arousal
# train_data_v, test_data_v, train_values_v, test_values_v = split(data,scaled_val) #split valence

(744, 8)

INITIAL MODEL

In [18]:
# gpr_a = GPR(kernel=kernels, alpha=1e-10, 
#                     optimizer='fmin_l_bfgs_b', 
#                     n_restarts_optimizer=10, 
#                     normalize_y=True, copy_X_train=False, 
#                     random_state=1000) #init Valence

# gpr_v = GPR(kernel=kernels, alpha=1e-10, 
#                     optimizer='fmin_l_bfgs_b', 
#                     n_restarts_optimizer=10, 
#                     normalize_y=True, copy_X_train=False, 
#                     random_state=1000) #init Valence

# # gpr_a = GPR()
# # gpr_v = GPR()

In [19]:
# print("arousal:\t",gpr_a.kernel)
# print("valence:\t",gpr_v.kernel)

arousal:	 RationalQuadratic(alpha=1, length_scale=1)
valence:	 RationalQuadratic(alpha=1, length_scale=1)

TRAIN

In [20]:
# trained_a = training(train_data_a,train_values_a,gpr_a)
# trained_v = training(train_data_v,train_values_v,gpr_v)

PREDICT

In [21]:
# # #Predict Arousal
# pred_a,df2_a = predict(test_data_a, test_values_a, trained_a)
# # #Predict Valence
# pred_v,df2_v = predict(test_data_v, test_values_v, trained_v)

# r2_a = score(pred_a,test_values_a) #Score Arousal
# r2_v = score(pred_v,test_values_v) #Score Valence

SET PARAM

In [22]:
# trained_a.set_params(kernel=trained_a.kernel_)
# trained_v.set_params(kernel=trained_v.kernel_)

# print("arousal:\t",trained_a.kernel)
# print("valence:\t",trained_v.kernel)

arousal:	 RationalQuadratic(alpha=0.0119, length_scale=0.143)
valence:	 RationalQuadratic(alpha=0.0118, length_scale=0.104)

AROUSAL

In [23]:
# # df_a = df_a.round(2)

# display(df_a.head())
# print("R2 Score Arousal:\t%0.2f" % r2_a)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,-0.088238,0.235580,0.584982,-0.405384,-0.410139,-0.086915,-0.809901,0.261002,-0.443631,-0.091556,...,0.487067,1.177945e-01,0.001863,-0.155370,-0.057214,-0.004002,0.324561,0.356283,-0.228,-0.453356
1,0.352941,0.264706,0.411765,-0.558824,-0.441176,-0.411765,-0.588235,0.235294,-0.411765,0.352941,...,0.588235,-2.220446e-16,-0.382353,0.235294,-0.088235,-0.029412,-0.058824,0.382353,-0.500,-0.823529

R2 Score Arousal:	0.55

VALENCE

In [24]:
# # df_v = df_v.round(2)

# display(df_v.head())
# print("R2 Score Valence:\t%0.2f" % r2_v)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,0.179347,0.324119,0.485976,-0.145413,-0.068155,0.106264,-0.321716,0.232469,-0.074331,0.044818,...,0.425284,0.331999,0.005170,-0.038969,-0.014026,0.051305,0.158851,-0.001306,-0.139625,-0.448638
1,-0.661538,0.476923,0.353846,-0.661538,0.046154,-0.507692,-0.076923,-0.169231,-0.230769,0.569231,...,0.538462,-0.015385,-0.723077,0.230769,-0.323077,-0.138462,0.507692,0.507692,-0.261538,-0.415385

R2 Score Valence:	0.30

REGRESSION

In [25]:
# scores_a = crosval(gpr_a,data,scaled_ar) #Arousal Regression
# scores_v = crosval(gpr_v,data,scaled_val) #Arousal Regression

AROUSAL

In [26]:
# print("R2 Score Valence:\t",scores_a)
# print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_a.mean(), scores_a.std() ))

R2 Score Valence:	 [ 0.34647678  0.24483816  0.28185763  0.41172423  0.53748616  0.47714264
  0.51557529  0.55892611  0.32752965  0.44937819]
R2 Score Valence:	0.42 (+/- 0.10)

VALENCE

In [27]:
# print("R2 Score Valence:\t",scores_v)
# print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_v.mean(), scores_v.std() ))

R2 Score Valence:	 [ 0.32224335  0.31328452  0.27873     0.03917079  0.45144779  0.3038009
  0.39145753  0.36389868  0.12590206  0.05855789]
R2 Score Valence:	0.26 (+/- 0.13)

In [28]:
# save_predict(df_a.round(2),df_v.round(2),datafitur)
# save_model(trained_a,datafitur,'arousal/') #save model Arousal
# save_model(trained_v,datafitur,'valence/') #save model Valence

# CASE 3

In [29]:
# datafitur =  "case3_scf_sfm" #CASE 3
# data,arousal_mean,valence_mean = load(datafitur) #Load
# print(data.shape)

# scaled_ar = minmax_scale(arousal_mean.values,feature_range=(-1, 1))
# scaled_val = minmax_scale(valence_mean.values,feature_range=(-1, 1))

# train_data_a, test_data_a, train_values_a, test_values_a = split(data,scaled_ar) #split arousal
# train_data_v, test_data_v, train_values_v, test_values_v = split(data,scaled_val) #split valence

(744, 3)

INITAL MODEL

In [30]:
# gpr_a = GPR(kernel=kernels, alpha=1e-10, 
#                     optimizer='fmin_l_bfgs_b', 
#                     n_restarts_optimizer=10, 
#                     normalize_y=True, copy_X_train=False, 
#                     random_state=1000) #init Arousal

# gpr_v = GPR(kernel=kernels, alpha=1e-10, 
#                     optimizer='fmin_l_bfgs_b', 
#                     n_restarts_optimizer=10, 
#                     normalize_y=True, copy_X_train=False, 
#                     random_state=1000) #init Valence

# gpr_a = GPR()
# gpr_v = GPR()

In [31]:
# print("arousal:\t",gpr_a.kernel)
# print("valence:\t",gpr_v.kernel)

arousal:	 RationalQuadratic(alpha=1, length_scale=1)
valence:	 RationalQuadratic(alpha=1, length_scale=1)

TRAIN

In [32]:
# trained_a = training(train_data_a,train_values_a,gpr_a)
# trained_v = training(train_data_v,train_values_v,gpr_v)

PREDICT

In [33]:
# # #Predict Arousal
# pred_a,df2_a = predict(test_data_a, test_values_a, trained_a)
# # #Predict Valence
# pred_v,df2_v = predict(test_data_v, test_values_v, trained_v)

# r2_a = score(pred_a,test_values_a) #Score Arousal
# r2_v = score(pred_v,test_values_v) #Score Valence

SET PARAM

In [34]:
# trained_a.set_params(kernel=trained_a.kernel_)
# trained_v.set_params(kernel=trained_v.kernel_)

# print("arousal:\t",trained_a.kernel)
# print("valence:\t",trained_v.kernel)

arousal:	 RationalQuadratic(alpha=0.00806, length_scale=0.00429)
valence:	 RationalQuadratic(alpha=0.00469, length_scale=2.28e-06)

AROUSAL

In [35]:
# # df_a = df_a.round(2)

# display(df_a.head())
# print("R2 Score Arousal:\t%0.2f" % r2_a)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,-0.088238,0.235580,0.584982,-0.405384,-0.410139,-0.086915,-0.809901,0.261002,-0.443631,-0.091556,...,0.487067,1.177945e-01,0.001863,-0.155370,-0.057214,-0.004002,0.324561,0.356283,-0.228,-0.453356
1,0.352941,0.264706,0.411765,-0.558824,-0.441176,-0.411765,-0.588235,0.235294,-0.411765,0.352941,...,0.588235,-2.220446e-16,-0.382353,0.235294,-0.088235,-0.029412,-0.058824,0.382353,-0.500,-0.823529

R2 Score Arousal:	0.48

VALENCE

In [36]:
# # df3_v = df3_v.round(2)

# display(df_v.head())
# print("R2 Score Valence:\t%0.2f" % r2_v)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,0.179347,0.324119,0.485976,-0.145413,-0.068155,0.106264,-0.321716,0.232469,-0.074331,0.044818,...,0.425284,0.331999,0.005170,-0.038969,-0.014026,0.051305,0.158851,-0.001306,-0.139625,-0.448638
1,-0.661538,0.476923,0.353846,-0.661538,0.046154,-0.507692,-0.076923,-0.169231,-0.230769,0.569231,...,0.538462,-0.015385,-0.723077,0.230769,-0.323077,-0.138462,0.507692,0.507692,-0.261538,-0.415385

R2 Score Valence:	0.18

REGRESSION

In [37]:
# scores_a = crosval(gpr_a,data,scaled_ar) #Arousal Regression
# scores_v = crosval(gpr_v,data,scaled_val) #Arousal Regression

AROUSAL

In [38]:
# print("R2 Score Valence:\t",scores_a)
# print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_a.mean(), scores_a.std() ))

R2 Score Valence:	 [ 0.36184454  0.38061607  0.23235614  0.16438174  0.50039431  0.32495657
  0.33524105  0.36362094  0.48388507  0.49279133]
R2 Score Valence:	0.36 (+/- 0.10)

VALENCE

In [39]:
# print("R2 Score Valence:\t",scores_v)
# print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_v.mean(), scores_v.std() ))

R2 Score Valence:	 [-0.00685256  0.0467841  -0.00599621 -0.40592023  0.27848326  0.13690106
  0.07824223  0.1137771   0.27757594 -0.00402122]
R2 Score Valence:	0.05 (+/- 0.18)

In [40]:
# save_predict(df_a,df_v,datafitur)
# save_model(trained_a,datafitur,'arousal/') #save model Arousal
# save_model(trained_v,datafitur,'valence/') #save model Valence

# CASE 4

In [41]:
# datafitur =  "case4_chroma" #CASE 3
# data,arousal_mean,valence_mean = load(datafitur) #Load
# print(data.shape)

# scaled_ar = minmax_scale(arousal_mean.values,feature_range=(-1, 1))
# scaled_val = minmax_scale(valence_mean.values,feature_range=(-1, 1))

# train_data_a, test_data_a, train_values_a, test_values_a = split(data,scaled_ar) #split arousal
# train_data_v, test_data_v, train_values_v, test_values_v = split(data,scaled_val) #split valence

(744, 24)

INITIAL MODEL

In [42]:
# gpr_a = GPR(kernel=kernels, alpha=1e-10, 
#                     optimizer='fmin_l_bfgs_b', 
#                     n_restarts_optimizer=10, 
#                     normalize_y=True, copy_X_train=False, 
#                     random_state=1000) #init Arousal

# gpr_v = GPR(kernel=kernels, alpha=1e-10, 
#                     optimizer='fmin_l_bfgs_b', 
#                     n_restarts_optimizer=10, 
#                     normalize_y=True, copy_X_train=False, 
#                     random_state=1000) #init Valence

# # gpr_a = GPR()
# # gpr_v = GPR()

In [43]:
# print("arousal:\t",gpr_a.kernel)
# print("valence:\t",gpr_v.kernel)

arousal:	 RationalQuadratic(alpha=1, length_scale=1)
valence:	 RationalQuadratic(alpha=1, length_scale=1)

TRAIN

In [44]:
# trained_a = training(train_data_a,train_values_a,gpr_a)
# trained_v = training(train_data_v,train_values_v,gpr_v)

PREDICT

In [45]:
# # #Predict Arousal
# pred_a,df_a = predict(test_data_a, test_values_a, trained_a)
# # #Predict Valence
# pred_v,df_v = predict(test_data_v, test_values_v, trained_v)

# r2_a = score(pred_a,test_values_a) #Score Arousal
# r2_v = score(pred_v,test_values_v) #Score Valence

SET PARAM

In [46]:
# trained_a.set_params(kernel=trained_a.kernel_)
# trained_v.set_params(kernel=trained_v.kernel_)

# print("arousal:\t",trained_a.kernel)
# print("valence:\t",trained_v.kernel)

arousal:	 RationalQuadratic(alpha=0.0209, length_scale=1.1)
valence:	 RationalQuadratic(alpha=0.0166, length_scale=0.293)

AROUSAL

In [47]:
# # df4_a = df4_a.round(2)

# display(df_a.head())
# print("R2 Score Arousal:\t%0.2f" % r2_a)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,-0.166076,0.015782,0.032411,-0.295106,-0.235873,0.046819,-0.281654,0.129396,-0.415446,-0.198149,...,0.152288,2.376521e-01,0.086228,-0.214349,0.195289,0.163145,0.187824,0.267605,-0.438164,-0.147220
1,0.352941,0.264706,0.411765,-0.558824,-0.441176,-0.411765,-0.588235,0.235294,-0.411765,0.352941,...,0.588235,-2.220446e-16,-0.382353,0.235294,-0.088235,-0.029412,-0.058824,0.382353,-0.500000,-0.823529

R2 Score Arousal:	0.30

VALENCE

In [48]:
# # df4_v = df4_v.round(2)

# display(df_v.head())
# print("R2 Score Valence:\t%0.2f" % r2_v)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,-0.043168,0.118325,0.121003,-0.007602,0.105961,0.189216,-0.126455,0.105521,-0.106437,0.019301,...,0.038299,-0.060491,0.081303,-0.102756,0.114004,0.103763,0.095470,0.090000,-0.198415,0.028941
1,-0.661538,0.476923,0.353846,-0.661538,0.046154,-0.507692,-0.076923,-0.169231,-0.230769,0.569231,...,0.538462,-0.015385,-0.723077,0.230769,-0.323077,-0.138462,0.507692,0.507692,-0.261538,-0.415385

R2 Score Valence:	0.12

REGRESSION

In [49]:
# scores_a = crosval(gpr_a,data,scaled_ar) #Arousal Regression
# scores_v = crosval(gpr_v,data,scaled_val) #Arousal Regression

AROUSAL

In [50]:
# print("R2 Score Valence:\t",scores_a)
# print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_a.mean(), scores_a.std() ))

R2 Score Valence:	 [ 0.1034202   0.46035405  0.23740986  0.14541156  0.32800845  0.15582182
  0.25103286  0.13612791  0.2666567   0.36876318]
R2 Score Valence:	0.25 (+/- 0.11)

VALENCE

In [51]:
# print("R2 Score Valence:\t",scores_v)
# print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_v.mean(), scores_v.std() ))

R2 Score Valence:	 [-0.24169455  0.01822491 -0.09965833 -0.20842456  0.16159612  0.13112291
  0.08543193 -0.13022329  0.10762542  0.11371357]
R2 Score Valence:	-0.01 (+/- 0.14)

In [52]:
# save_predict(df_a,df_v,datafitur)
# save_model(trained_a,datafitur,'arousal/') #save model Arousal
# save_model(trained_v,datafitur,'valence/') #save model Valence

# CASE 5

In [53]:
datafitur = "case5_mfcc_timbre" #CASE 1

data,arousal_mean,valence_mean = load(datafitur) #Load
print(data.shape)

scaled_ar = minmax_scale(arousal_mean.values,feature_range=(-1, 1))
scaled_val = minmax_scale(valence_mean.values,feature_range=(-1, 1))

#split arousal
train_data_a, test_data_a, train_values_a, test_values_a = split(data,scaled_ar)
#split valence
train_data_v, test_data_v, train_values_v, test_values_v = split(data,scaled_val)

(744, 34)

In [54]:
gpr_a = GPR(kernel=kernels, alpha=1e-10, 
                    optimizer='fmin_l_bfgs_b', 
                    n_restarts_optimizer=10, 
                    normalize_y=True, copy_X_train=False, 
                    random_state=1000) #init Arousal

gpr_v = GPR(kernel=kernels, alpha=1e-10, 
                    optimizer='fmin_l_bfgs_b', 
                    n_restarts_optimizer=10, 
                    normalize_y=True, copy_X_train=False, 
                    random_state=1000) #init Arousal

In [55]:
print("arousal:\t",gpr_a.kernel)
print("arousal:\t",gpr_v.kernel)

arousal:	 RationalQuadratic(alpha=1, length_scale=1)
arousal:	 RationalQuadratic(alpha=1, length_scale=1)

In [56]:
trained_a = training(train_data_a,train_values_a,gpr_a)
trained_v = training(train_data_v,train_values_v,gpr_v)

In [57]:
# #Predict Arousal
pred_a,df_a = predict(test_data_a, test_values_a, trained_a)
# #Predict Valence
pred_v,df_v = predict(test_data_v, test_values_v, trained_v)

r2_a = score(pred_a,test_values_a) #Score Arousal
r2_v = score(pred_v,test_values_v) #Score Valence

In [58]:
trained_a.set_params(kernel=trained_a.kernel_)
trained_v.set_params(kernel=trained_v.kernel_)

print("arousal:\t",trained_a.kernel)
print("valence:\t",trained_v.kernel)

arousal:	 RationalQuadratic(alpha=0.0296, length_scale=5.29)
valence:	 RationalQuadratic(alpha=0.0301, length_scale=3.23)

In [59]:
# df_a = df_a.round(2)

display(df_a.head())
print("R2 Score Arousal:\t%0.2f" % r2_a)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,0.016278,0.170735,0.474846,-0.518840,-0.384812,-0.160254,-0.841438,0.272844,-0.304816,-0.078031,...,0.470475,1.117669e-01,-0.278708,-0.288466,-0.055130,0.031812,0.323901,0.441927,-0.228143,-0.321499
1,0.352941,0.264706,0.411765,-0.558824,-0.441176,-0.411765,-0.588235,0.235294,-0.411765,0.352941,...,0.588235,-2.220446e-16,-0.382353,0.235294,-0.088235,-0.029412,-0.058824,0.382353,-0.500000,-0.823529

R2 Score Arousal:	0.67

In [60]:
# df_v = df_v.round(2)

display(df_v.head())
print("R2 Score Valence: %0.2f" % r2_v)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,0.222327,0.230448,0.401023,-0.399627,-0.092528,-0.009170,-0.361141,0.322868,0.183116,0.112089,...,0.471568,0.497784,-0.284337,-0.190531,-0.048565,0.075346,0.174189,0.121875,-0.316413,-0.142669
1,-0.661538,0.476923,0.353846,-0.661538,0.046154,-0.507692,-0.076923,-0.169231,-0.230769,0.569231,...,0.538462,-0.015385,-0.723077,0.230769,-0.323077,-0.138462,0.507692,0.507692,-0.261538,-0.415385

R2 Score Valence: 0.37

In [61]:
scores_a = crosval(gpr_a,data,scaled_ar) #Arousal Regression
scores_v = crosval(gpr_v,data,scaled_val) #Arousal Regression

In [62]:
print("R2 Score Valence:\t",scores_a)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_a.mean(), scores_a.std() ))

R2 Score Valence:	 [ 0.47786951  0.54044672  0.58834367  0.63571148  0.65205551  0.61552497
  0.63893716  0.65625517  0.59748882  0.58834416]
R2 Score Valence:	0.60 (+/- 0.05)

In [63]:
save_predict(df_a.round(2),df_v.round(2),datafitur)
save_model(trained_a,datafitur,'arousal/') #save model Arousal
save_model(trained_v,datafitur,'valence/') #save model Valence

# CASE 6

In [64]:
datafitur = "case6_mfcc_scf_sfm" #CASE 2

data,arousal_mean,valence_mean = load(datafitur) #Load
print(data.shape)

scaled_ar = minmax_scale(arousal_mean.values,feature_range=(-1, 1))
scaled_val = minmax_scale(valence_mean.values,feature_range=(-1, 1))

train_data_a, test_data_a, train_values_a, test_values_a = split(data,scaled_ar) #split arousal
train_data_v, test_data_v, train_values_v, test_values_v = split(data,scaled_val) #split valence

(744, 29)

In [65]:
gpr_a = GPR(kernel=kernels, alpha=1e-10, 
                    optimizer='fmin_l_bfgs_b', 
                    n_restarts_optimizer=10, 
                    normalize_y=True, copy_X_train=False, 
                    random_state=1000) #init Valence

gpr_v = GPR(kernel=kernels, alpha=1e-10, 
                    optimizer='fmin_l_bfgs_b', 
                    n_restarts_optimizer=10, 
                    normalize_y=True, copy_X_train=False, 
                    random_state=1000) #init Valence

In [66]:
print("arousal:\t",gpr_a.kernel)
print("valence:\t",gpr_v.kernel)

arousal:	 RationalQuadratic(alpha=1, length_scale=1)
valence:	 RationalQuadratic(alpha=1, length_scale=1)

In [67]:
trained_a = training(train_data_a,train_values_a,gpr_a)
trained_v = training(train_data_v,train_values_v,gpr_v)

In [68]:
# #Predict Arousal
pred_a,df2_a = predict(test_data_a, test_values_a, trained_a)
# #Predict Valence
pred_v,df2_v = predict(test_data_v, test_values_v, trained_v)

r2_a = score(pred_a,test_values_a) #Score Arousal
r2_v = score(pred_v,test_values_v) #Score Valence

In [69]:
trained_a.set_params(kernel=trained_a.kernel_)
trained_v.set_params(kernel=trained_v.kernel_)

print("arousal:\t",trained_a.kernel)
print("valence:\t",trained_v.kernel)

arousal:	 RationalQuadratic(alpha=0.0291, length_scale=4.31)
valence:	 RationalQuadratic(alpha=0.031, length_scale=2.19)

In [70]:
# df_a = df_a.round(2)

display(df_a.head())
print("R2 Score Arousal:\t%0.2f" % r2_a)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,0.016278,0.170735,0.474846,-0.518840,-0.384812,-0.160254,-0.841438,0.272844,-0.304816,-0.078031,...,0.470475,1.117669e-01,-0.278708,-0.288466,-0.055130,0.031812,0.323901,0.441927,-0.228143,-0.321499
1,0.352941,0.264706,0.411765,-0.558824,-0.441176,-0.411765,-0.588235,0.235294,-0.411765,0.352941,...,0.588235,-2.220446e-16,-0.382353,0.235294,-0.088235,-0.029412,-0.058824,0.382353,-0.500000,-0.823529

R2 Score Arousal:	0.65

In [71]:
# df_v = df_v.round(2)

display(df_v.head())
print("R2 Score Valence:\t%0.2f" % r2_v)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,0.222327,0.230448,0.401023,-0.399627,-0.092528,-0.009170,-0.361141,0.322868,0.183116,0.112089,...,0.471568,0.497784,-0.284337,-0.190531,-0.048565,0.075346,0.174189,0.121875,-0.316413,-0.142669
1,-0.661538,0.476923,0.353846,-0.661538,0.046154,-0.507692,-0.076923,-0.169231,-0.230769,0.569231,...,0.538462,-0.015385,-0.723077,0.230769,-0.323077,-0.138462,0.507692,0.507692,-0.261538,-0.415385

R2 Score Valence:	0.30

In [72]:
scores_a = crosval(gpr_a,data,scaled_ar) #Arousal Regression
scores_v = crosval(gpr_v,data,scaled_val) #Arousal Regression

In [73]:
print("R2 Score Valence:\t",scores_a)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_a.mean(), scores_a.std() ))

R2 Score Valence:	 [ 0.45545574  0.47801045  0.50688759  0.51253698  0.64877666  0.58806205
  0.53400999  0.58018095  0.61744577  0.55961276]
R2 Score Valence:	0.55 (+/- 0.06)

In [74]:
print("R2 Score Valence:\t",scores_v)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_v.mean(), scores_v.std() ))

R2 Score Valence:	 [ 0.12596241  0.07628778  0.05535565 -0.15064585  0.37972019  0.15839883
  0.30809136  0.22163003  0.28405813  0.09239119]
R2 Score Valence:	0.16 (+/- 0.14)

In [75]:
save_predict(df_a.round(2),df_v.round(2),datafitur)
save_model(trained_a,datafitur,'arousal/') #save model Arousal
save_model(trained_v,datafitur,'valence/') #save model Valence

# CASE 7

In [76]:
datafitur =  "case7_mfcc_chroma" #CASE 3
data,arousal_mean,valence_mean = load(datafitur) #Load
print(data.shape)

scaled_ar = minmax_scale(arousal_mean.values,feature_range=(-1, 1))
scaled_val = minmax_scale(valence_mean.values,feature_range=(-1, 1))

train_data_a, test_data_a, train_values_a, test_values_a = split(data,scaled_ar) #split arousal
train_data_v, test_data_v, train_values_v, test_values_v = split(data,scaled_val) #split valence

(744, 50)

In [77]:
gpr_a = GPR(kernel=kernels, alpha=1e-10, 
                    optimizer='fmin_l_bfgs_b', 
                    n_restarts_optimizer=10, 
                    normalize_y=True, copy_X_train=False, 
                    random_state=1000) #init Arousal

gpr_v = GPR(kernel=kernels, alpha=1e-10, 
                    optimizer='fmin_l_bfgs_b', 
                    n_restarts_optimizer=10, 
                    normalize_y=True, copy_X_train=False, 
                    random_state=1000) #init Valence

In [78]:
print("arousal:\t",gpr_a.kernel)
print("valence:\t",gpr_v.kernel)

arousal:	 RationalQuadratic(alpha=1, length_scale=1)
valence:	 RationalQuadratic(alpha=1, length_scale=1)

In [79]:
trained_a = training(train_data_a,train_values_a,gpr_a)
trained_v = training(train_data_v,train_values_v,gpr_v)

In [81]:
# #Predict Arousal
pred_a,df2_a = predict(test_data_a, test_values_a, trained_a)
# #Predict Valence
pred_v,df2_v = predict(test_data_v, test_values_v, trained_v)

r2_a = score(pred_a,test_values_a) #Score Arousal
r2_v = score(pred_v,test_values_v) #Score Valence

In [82]:
trained_a.set_params(kernel=trained_a.kernel_)
trained_v.set_params(kernel=trained_v.kernel_)

print("arousal:\t",trained_a.kernel)
print("valence:\t",trained_v.kernel)

arousal:	 RationalQuadratic(alpha=0.0429, length_scale=8.2)
valence:	 RationalQuadratic(alpha=0.0396, length_scale=4.24)

In [83]:
# df_a = df_a.round(2)

display(df_a.head())
print("R2 Score Arousal:\t%0.2f" % r2_a)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,0.016278,0.170735,0.474846,-0.518840,-0.384812,-0.160254,-0.841438,0.272844,-0.304816,-0.078031,...,0.470475,1.117669e-01,-0.278708,-0.288466,-0.055130,0.031812,0.323901,0.441927,-0.228143,-0.321499
1,0.352941,0.264706,0.411765,-0.558824,-0.441176,-0.411765,-0.588235,0.235294,-0.411765,0.352941,...,0.588235,-2.220446e-16,-0.382353,0.235294,-0.088235,-0.029412,-0.058824,0.382353,-0.500000,-0.823529

R2 Score Arousal:	0.64

In [84]:
# df3_v = df3_v.round(2)

display(df_v.head())
print("R2 Score Valence:\t%0.2f" % r2_v)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,0.222327,0.230448,0.401023,-0.399627,-0.092528,-0.009170,-0.361141,0.322868,0.183116,0.112089,...,0.471568,0.497784,-0.284337,-0.190531,-0.048565,0.075346,0.174189,0.121875,-0.316413,-0.142669
1,-0.661538,0.476923,0.353846,-0.661538,0.046154,-0.507692,-0.076923,-0.169231,-0.230769,0.569231,...,0.538462,-0.015385,-0.723077,0.230769,-0.323077,-0.138462,0.507692,0.507692,-0.261538,-0.415385

R2 Score Valence:	0.30

In [85]:
scores_a = crosval(gpr_a,data,scaled_ar) #Arousal Regression
scores_v = crosval(gpr_v,data,scaled_val) #Arousal Regression

C:\Users\5115100178\AppData\Local\Continuum\Anaconda3\envs\py36\lib\site-packages\sklearn\gaussian_process\gpr.py:480: ConvergenceWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'grad': array([ -2.31106767e-05,   3.91243545e-05]), 'task': b'ABNORMAL_TERMINATION_IN_LNSRCH', 'funcalls': 87, 'nit': 30, 'warnflag': 2}
  ConvergenceWarning)

In [86]:
print("R2 Score Valence:\t",scores_a)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_a.mean(), scores_a.std() ))

R2 Score Valence:	 [ 0.37468237  0.53662287  0.57013278  0.43497099  0.66881624  0.61838933
  0.55379652  0.60246305  0.66787576  0.60730803]
R2 Score Valence:	0.56 (+/- 0.09)

In [87]:
print("R2 Score Valence:\t",scores_v)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_v.mean(), scores_v.std() ))

R2 Score Valence:	 [ 0.06316631  0.1516973   0.02906961 -0.2023374   0.30719042  0.21637556
  0.28965173  0.15994789  0.25399253  0.23508197]
R2 Score Valence:	0.15 (+/- 0.15)

In [88]:
save_predict(df_a.round(2),df_v.round(2),datafitur)
save_model(trained_a,datafitur,'arousal/') #save model Arousal
save_model(trained_v,datafitur,'valence/') #save model Valence

# CASE 8

In [89]:
datafitur =  "case8_mfcc_timbre_scf_sfm" #CASE 3
data,arousal_mean,valence_mean = load(datafitur) #Load
print(data.shape)

scaled_ar = minmax_scale(arousal_mean.values,feature_range=(-1, 1))
scaled_val = minmax_scale(valence_mean.values,feature_range=(-1, 1))

train_data_a, test_data_a, train_values_a, test_values_a = split(data,scaled_ar) #split arousal
train_data_v, test_data_v, train_values_v, test_values_v = split(data,scaled_val) #split valence

(744, 37)

In [90]:
gpr_a = GPR(kernel=kernels, alpha=1e-10, 
                    optimizer='fmin_l_bfgs_b', 
                    n_restarts_optimizer=10, 
                    normalize_y=True, copy_X_train=False, 
                    random_state=1000) #init Arousal

gpr_v = GPR(kernel=kernels, alpha=1e-10, 
                    optimizer='fmin_l_bfgs_b', 
                    n_restarts_optimizer=10, 
                    normalize_y=True, copy_X_train=False, 
                    random_state=1000) #init Valence

In [91]:
print("arousal:\t",gpr_a.kernel)
print("valence:\t",gpr_v.kernel)

arousal:	 RationalQuadratic(alpha=1, length_scale=1)
valence:	 RationalQuadratic(alpha=1, length_scale=1)

In [92]:
trained_a = training(train_data_a,train_values_a,gpr_a)
trained_v = training(train_data_v,train_values_v,gpr_v)

In [93]:
# #Predict Arousal
pred_a,df2_a = predict(test_data_a, test_values_a, trained_a)
# #Predict Valence
pred_v,df2_v = predict(test_data_v, test_values_v, trained_v)

r2_a = score(pred_a,test_values_a) #Score Arousal
r2_v = score(pred_v,test_values_v) #Score Valence

In [94]:
trained_a.set_params(kernel=trained_a.kernel_)
trained_v.set_params(kernel=trained_v.kernel_)

print("arousal:\t",trained_a.kernel)
print("valence:\t",trained_v.kernel)

arousal:	 RationalQuadratic(alpha=0.0282, length_scale=5.4)
valence:	 RationalQuadratic(alpha=0.0304, length_scale=3.4)

In [95]:
# df_a = df_a.round(2)

display(df_a.head())
print("R2 Score Arousal:\t%0.2f" % r2_a)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,0.016278,0.170735,0.474846,-0.518840,-0.384812,-0.160254,-0.841438,0.272844,-0.304816,-0.078031,...,0.470475,1.117669e-01,-0.278708,-0.288466,-0.055130,0.031812,0.323901,0.441927,-0.228143,-0.321499
1,0.352941,0.264706,0.411765,-0.558824,-0.441176,-0.411765,-0.588235,0.235294,-0.411765,0.352941,...,0.588235,-2.220446e-16,-0.382353,0.235294,-0.088235,-0.029412,-0.058824,0.382353,-0.500000,-0.823529

R2 Score Arousal:	0.68

In [96]:
# df3_v = df3_v.round(2)

display(df_v.head())
print("R2 Score Valence:\t%0.2f" % r2_v)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,0.222327,0.230448,0.401023,-0.399627,-0.092528,-0.009170,-0.361141,0.322868,0.183116,0.112089,...,0.471568,0.497784,-0.284337,-0.190531,-0.048565,0.075346,0.174189,0.121875,-0.316413,-0.142669
1,-0.661538,0.476923,0.353846,-0.661538,0.046154,-0.507692,-0.076923,-0.169231,-0.230769,0.569231,...,0.538462,-0.015385,-0.723077,0.230769,-0.323077,-0.138462,0.507692,0.507692,-0.261538,-0.415385

R2 Score Valence:	0.38

In [97]:
scores_a = crosval(gpr_a,data,scaled_ar) #Arousal Regression
scores_v = crosval(gpr_v,data,scaled_val) #Arousal Regression

In [98]:
print("R2 Score Valence:\t",scores_a)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_a.mean(), scores_a.std() ))

R2 Score Valence:	 [ 0.50404329  0.52933545  0.55470409  0.63116308  0.65790515  0.63105683
  0.64902058  0.64100453  0.59219615  0.60790025]
R2 Score Valence:	0.60 (+/- 0.05)

In [99]:
print("R2 Score Valence:\t",scores_v)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_v.mean(), scores_v.std() ))

R2 Score Valence:	 [ 0.34787595  0.30856516  0.25407681  0.12942156  0.51124481  0.26999648
  0.45645089  0.33966892  0.31398068  0.17234916]
R2 Score Valence:	0.31 (+/- 0.11)

In [100]:
save_predict(df_a.round(2),df_v.round(2),datafitur)
save_model(trained_a,datafitur,'arousal/') #save model Arousal
save_model(trained_v,datafitur,'valence/') #save model Valence

# CASE 9

In [125]:
datafitur =  "case9_mfcc_timbre_chroma" #CASE 3
data,arousal_mean,valence_mean = load(datafitur) #Load
print(data.shape)

scaled_ar = minmax_scale(arousal_mean.values,feature_range=(-1, 1))
scaled_val = minmax_scale(valence_mean.values,feature_range=(-1, 1))

train_data_a, test_data_a, train_values_a, test_values_a = split(data,scaled_ar) #split arousal
train_data_v, test_data_v, train_values_v, test_values_v = split(data,scaled_val) #split valence

(744, 58)

In [126]:
gpr_a = GPR(kernel=kernels, alpha=1e-10, 
                    optimizer='fmin_l_bfgs_b', 
                    n_restarts_optimizer=10, 
                    normalize_y=True, copy_X_train=False, 
                    random_state=1000) #init Arousal

gpr_v = GPR(kernel=kernels, alpha=1e-10, 
                    optimizer='fmin_l_bfgs_b', 
                    n_restarts_optimizer=10, 
                    normalize_y=True, copy_X_train=False, 
                    random_state=1000) #init Valence

In [127]:
print("arousal:\t",gpr_a.kernel)
print("valence:\t",gpr_v.kernel)

arousal:	 RationalQuadratic(alpha=1, length_scale=1)
valence:	 RationalQuadratic(alpha=1, length_scale=1)

In [128]:
trained_a = training(train_data_a,train_values_a,gpr_a)
trained_v = training(train_data_v,train_values_v,gpr_v)

In [129]:
# #Predict Arousal
pred_a,df2_a = predict(test_data_a, test_values_a, trained_a)
# #Predict Valence
pred_v,df2_v = predict(test_data_v, test_values_v, trained_v)

r2_a = score(pred_a,test_values_a) #Score Arousal
r2_v = score(pred_v,test_values_v) #Score Valence

In [130]:
trained_a.set_params(kernel=trained_a.kernel_)
trained_v.set_params(kernel=trained_v.kernel_)

print("arousal:\t",trained_a.kernel)
print("valence:\t",trained_v.kernel)

arousal:	 RationalQuadratic(alpha=0.0394, length_scale=9.31)
valence:	 RationalQuadratic(alpha=0.0403, length_scale=6.12)

In [131]:
# df_a = df_a.round(2)

display(df_a.head())
print("R2 Score Arousal:\t%0.2f" % r2_a)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,0.016278,0.170735,0.474846,-0.518840,-0.384812,-0.160254,-0.841438,0.272844,-0.304816,-0.078031,...,0.470475,1.117669e-01,-0.278708,-0.288466,-0.055130,0.031812,0.323901,0.441927,-0.228143,-0.321499
1,0.352941,0.264706,0.411765,-0.558824,-0.441176,-0.411765,-0.588235,0.235294,-0.411765,0.352941,...,0.588235,-2.220446e-16,-0.382353,0.235294,-0.088235,-0.029412,-0.058824,0.382353,-0.500000,-0.823529

R2 Score Arousal:	0.67

In [132]:
# df3_v = df3_v.round(2)

display(df_v.head())
print("R2 Score Valence:\t%0.2f" % r2_v)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,0.222327,0.230448,0.401023,-0.399627,-0.092528,-0.009170,-0.361141,0.322868,0.183116,0.112089,...,0.471568,0.497784,-0.284337,-0.190531,-0.048565,0.075346,0.174189,0.121875,-0.316413,-0.142669
1,-0.661538,0.476923,0.353846,-0.661538,0.046154,-0.507692,-0.076923,-0.169231,-0.230769,0.569231,...,0.538462,-0.015385,-0.723077,0.230769,-0.323077,-0.138462,0.507692,0.507692,-0.261538,-0.415385

R2 Score Valence:	0.38

In [133]:
scores_a = crosval(gpr_a,data,scaled_ar) #Arousal Regression
scores_v = crosval(gpr_v,data,scaled_val) #Arousal Regression

In [134]:
print("R2 Score Valence:\t",scores_a)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_a.mean(), scores_a.std() ))

R2 Score Valence:	 [ 0.43711966  0.56546186  0.62681206  0.53585044  0.65504871  0.65837398
  0.63941349  0.66486166  0.62360646  0.64691886]
R2 Score Valence:	0.61 (+/- 0.07)

In [135]:
print("R2 Score Valence:\t",scores_v)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_v.mean(), scores_v.std() ))

R2 Score Valence:	 [ 0.3325215   0.34042739  0.23250114  0.06492473  0.39764797  0.32049516
  0.43535678  0.31422154  0.28607723  0.30371222]
R2 Score Valence:	0.30 (+/- 0.10)

In [136]:
save_predict(df_a.round(2),df_v.round(2),datafitur)
save_model(trained_a,datafitur,'arousal/') #save model Arousal
save_model(trained_v,datafitur,'valence/') #save model Valence

# CASE 10

In [137]:
datafitur =  "case10_mfcc_timbre_scf_sfm_chroma" #CASE 3
data,arousal_mean,valence_mean = load(datafitur) #Load
print(data.shape)

scaled_ar = minmax_scale(arousal_mean.values,feature_range=(-1, 1))
scaled_val = minmax_scale(valence_mean.values,feature_range=(-1, 1))

train_data_a, test_data_a, train_values_a, test_values_a = split(data,scaled_ar) #split arousal
train_data_v, test_data_v, train_values_v, test_values_v = split(data,scaled_val) #split valence

(744, 61)

In [138]:
gpr_a = GPR(kernel=kernels, alpha=1e-10, 
                    optimizer='fmin_l_bfgs_b', 
                    n_restarts_optimizer=10, 
                    normalize_y=True, copy_X_train=False, 
                    random_state=1000) #init Arousal

gpr_v = GPR(kernel=kernels, alpha=1e-10, 
                    optimizer='fmin_l_bfgs_b', 
                    n_restarts_optimizer=10, 
                    normalize_y=True, copy_X_train=False, 
                    random_state=1000) #init Valence

In [139]:
print("arousal:\t",gpr_a.kernel)
print("valence:\t",gpr_v.kernel)

arousal:	 RationalQuadratic(alpha=1, length_scale=1)
valence:	 RationalQuadratic(alpha=1, length_scale=1)

In [140]:
trained_a = training(train_data_a,train_values_a,gpr_a)
trained_v = training(train_data_v,train_values_v,gpr_v)

In [141]:
# #Predict Arousal
pred_a,df2_a = predict(test_data_a, test_values_a, trained_a)
# #Predict Valence
pred_v,df2_v = predict(test_data_v, test_values_v, trained_v)

r2_a = score(pred_a,test_values_a) #Score Arousal
r2_v = score(pred_v,test_values_v) #Score Valence

In [142]:
trained_a.set_params(kernel=trained_a.kernel_)
trained_v.set_params(kernel=trained_v.kernel_)

print("arousal:\t",trained_a.kernel)
print("valence:\t",trained_v.kernel)

arousal:	 RationalQuadratic(alpha=0.037, length_scale=9.43)
valence:	 RationalQuadratic(alpha=0.0394, length_scale=6.13)

In [143]:
# df_a = df_a.round(2)

display(df_a.head())
print("R2 Score Arousal:\t%0.2f" % r2_a)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,0.016278,0.170735,0.474846,-0.518840,-0.384812,-0.160254,-0.841438,0.272844,-0.304816,-0.078031,...,0.470475,1.117669e-01,-0.278708,-0.288466,-0.055130,0.031812,0.323901,0.441927,-0.228143,-0.321499
1,0.352941,0.264706,0.411765,-0.558824,-0.441176,-0.411765,-0.588235,0.235294,-0.411765,0.352941,...,0.588235,-2.220446e-16,-0.382353,0.235294,-0.088235,-0.029412,-0.058824,0.382353,-0.500000,-0.823529

R2 Score Arousal:	0.68

In [144]:
# df3_v = df3_v.round(2)

display(df_v.head())
print("R2 Score Valence:\t%0.2f" % r2_v)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,0.222327,0.230448,0.401023,-0.399627,-0.092528,-0.009170,-0.361141,0.322868,0.183116,0.112089,...,0.471568,0.497784,-0.284337,-0.190531,-0.048565,0.075346,0.174189,0.121875,-0.316413,-0.142669
1,-0.661538,0.476923,0.353846,-0.661538,0.046154,-0.507692,-0.076923,-0.169231,-0.230769,0.569231,...,0.538462,-0.015385,-0.723077,0.230769,-0.323077,-0.138462,0.507692,0.507692,-0.261538,-0.415385

R2 Score Valence:	0.38

In [145]:
scores_a = crosval(gpr_a,data,scaled_ar) #Arousal Regression
scores_v = crosval(gpr_v,data,scaled_val) #Arousal Regression

In [146]:
print("R2 Score Valence:\t",scores_a)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_a.mean(), scores_a.std() ))

R2 Score Valence:	 [ 0.44672873  0.5839231   0.61084799  0.53452106  0.65829641  0.66989345
  0.6430872   0.66133519  0.62616777  0.66062924]
R2 Score Valence:	0.61 (+/- 0.07)

In [147]:
print("R2 Score Valence:\t",scores_v)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_v.mean(), scores_v.std() ))

R2 Score Valence:	 [ 0.31867443  0.35038908  0.23122918  0.05437017  0.4048447   0.31051334
  0.42644845  0.29673161  0.27565131  0.28379686]
R2 Score Valence:	0.30 (+/- 0.10)

In [148]:
save_predict(df_a.round(2),df_v.round(2),datafitur)
save_model(trained_a,datafitur,'arousal/') #save model Arousal
save_model(trained_v,datafitur,'valence/') #save model Valence