In [17]:
#### BELAJAR SVM #####
# -*- coding: utf-8 -*-
"""
Created on Mon Jan 11 18:13:04 2016
Benchmarking on the boston housing dataset
@author: Rupak Chakraborty
"""

import pandas as pd
import numpy as np
import random

from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score

In [3]:
datafile = "F:/178/Tugas Akhir/dataset/latihan/housing/housing.data"
dataFrame = pd.read_csv(datafile,header=None,sep='\t')
dataArray = np.zeros((len(dataFrame),13)) # For Fitur
dataOutput = np.zeros((len(dataFrame),1)) # For Class
 
column_names = ["CRIM","ZN","INDUS","CHAS","NOX","RM","AGE","DIS","RAD","TAX","PTRATIO","B" \
,"LSTAT","MEDV"]
dataFrame.head()

                                                   0
0   0.00632  18.00   2.310  0  0.5380  6.5750  65...
1   0.02731   0.00   7.070  0  0.4690  6.4210  78...
2   0.02729   0.00   7.070  0  0.4690  7.1850  61...
3   0.03237   0.00   2.180  0  0.4580  6.9980  45...
4   0.06905   0.00   2.180  0  0.4580  7.1470  54...

In [4]:
for i in range(len(dataFrame)):  
    
    feature_string = dataFrame.iloc[i][0]
#     print(feature_string)
    feature_list = feature_string.split() 
#     print(feature_list)
    for j in range(len(feature_list)): 
        
        if j != len(feature_list)-1:
            dataArray[i][j] = float(feature_list[j])
        else:
            dataOutput[i] = float(feature_list[j])

random.shuffle(dataArray)
# type(dataArray)

In [5]:
print(dataArray.shape)
print(dataOutput.shape)

(506, 13)
(506, 1)

In [10]:
train_data,test_data,train_values,test_values = train_test_split(dataArray,dataOutput,test_size=0.3,random_state=1000)

In [28]:
svr = SVR(kernel='rbf',C=1.0,gamma=1)
svr.fit(train_data,train_values)
predicted_values = svr.predict(test_data)
df = pd.DataFrame(data=[predicted_values,test_values])
r2 = r2_score(predicted_values,test_values)
print(r2)
display(df.head())

-102.950705077

C:\Users\5115100178\AppData\Local\Continuum\Anaconda3\envs\py36\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,0,1,2,3,4,5,6,7,8,9,...,142,143,144,145,146,147,148,149,150,151
0,20.0318,22.0318,21.7996,21.0318,21.0318,21.0318,21.0318,22.0318,20.0318,23.0318,...,22.1006,21.0318,20.0318,20.0318,21.7998,22.0318,20.0318,21.0318,21.0006,21.0282
1,[21.8],[10.2],[15.2],[43.5],[50.0],[37.2],[7.0],[42.3],[16.0],[19.6],...,[26.7],[29.8],[8.5],[25.0],[21.5],[24.6],[24.8],[32.7],[13.3],[21.4]

In [29]:
scores=cross_val_score(svr,dataArray,dataOutput,scoring='r2',cv=10)
print(scores.mean())

-1.10254850696

C:\Users\5115100178\AppData\Local\Continuum\Anaconda3\envs\py36\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\5115100178\AppData\Local\Continuum\Anaconda3\envs\py36\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\5115100178\AppData\Local\Continuum\Anaconda3\envs\py36\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\5115100178\AppData\Local\Continuum\Anaconda3\envs\py36\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\5115100178\AppData\Local\Continuum\Anaconda3\envs\py36\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\5115100178\AppData\Local\Continuum\Anaconda3\envs\py36\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\5115100178\AppData\Local\Continuum\Anaconda3\envs\py36\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\5115100178\AppData\Local\Continuum\Anaconda3\envs\py36\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\5115100178\AppData\Local\Continuum\Anaconda3\envs\py36\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\5115100178\AppData\Local\Continuum\Anaconda3\envs\py36\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)