In [1]:
import pandas as pd
import numpy as np
from sklearn.externals import joblib

from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

from sklearn.model_selection import GridSearchCV

In [2]:
# #PATH
# path_info = "F:/178/Tugas Akhir/dataset/annotations/"
# path_to_fitur = "F:/178/Tugas Akhir/dataset/coba fitur/"
# path_to_file = "F:/178/Tugas Akhir/dataset/clips_45sec_wav/"
# path_to_experiment ="F:/178/Tugas Akhir/dataset/experiment/"
# path_to_model = "F:/178/Tugas Akhir/dataset/model/"
# path_to_predict = "F:/178/Tugas Akhir/dataset/predict/"

path_info = "C:/Users/USER/Downloads/Tugas Akhir/dataset/annotations/"
path_to_fitur = "C:/Users/USER/Downloads/Tugas Akhir/dataset/coba fitur/"
path_to_file = "C:/Users/USER/Downloads/Tugas Akhir/dataset/clips_45sec_wav/"
path_to_experiment ="C:/Users/USER/Downloads/Tugas Akhir/dataset/experiment/"
path_to_model = "C:/Users/USER/Downloads/Tugas Akhir/AsikYesAjigile/model/"
path_to_predict = "C:/Users/USER/Downloads/Tugas Akhir/AsikYesAjigile/predict/"

In [3]:
def load(fitur):
    data = pd.read_csv(path_to_experiment + fitur+".csv",header=None)
    ground = pd.read_csv(path_info + "static_annotations.csv")

    arousal_mean = ground['mean_arousal']
    valence_mean = ground['mean_valence']
    
    return data,arousal_mean,valence_mean

def split(data,value):
    train_data, test_data, train_values, test_values = train_test_split(data,value,test_size=0.3,random_state=1000)
    
    return train_data, test_data, train_values, test_values
    
def predict(data,values,test,true,clf):
    svr = clf
    train = svr.fit(data,values)
    a = svr.predict(test)
    df = pd.DataFrame(data=[a,true])
    
    return a,train,df

def score(a,true):
    r2 = r2_score(true, a)
    
    return r2

def gridsearch(data,true):
    svr = SVR(kernel='rbf')
    Cs = [1,1e1,1e2,1e3,1e4,1e5]
    gammas = [1,1e-1,1e-2,1e-3,1e-4,1e-5]
    parameters = {'C':Cs,'gamma':gammas}

    clf = GridSearchCV(svr, parameters, cv=10, scoring='r2')
    clf.fit(data,true)

    return clf.best_params_ , clf.best_score_

def regresion(clf,data,values):
    scores = cross_val_score(clf,data,values,scoring='r2',cv=10)
    
    return scores

def save_model(model,case,types):
    path = path_to_model+types+case+'_svr.sav' # save the model
    joblib.dump(model, path)

def save_predict(df1,df2,case):
    path = path_to_predict+case+"_svr.xlsx" # save the model
    arousal = df1.T
    valence = df2.T
    merged = arousal.merge(valence, how='outer', left_index=True, right_index=True)
    merged.to_excel(path,header=None,index=None)

# CASE 1

In [4]:
datafitur = "case1" #CASE 1

data,arousal_mean,valence_mean = load(datafitur) #Load
print(data.shape)

train_data_a, test_data_a, train_values_a, test_values_a = split(data,arousal_mean) #split arousal
train_data_v, test_data_v, train_values_v, test_values_v = split(data,valence_mean) #split valence

(744, 26)

GRIDSEARCHCV

In [5]:
param_a, score_a = gridsearch(data,arousal_mean) #Gridsearch Arousal
param_v, score_v = gridsearch(data,valence_mean) #Grinsearch Valence

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [6]:
print("parameter Arousal:\t",param_a)
print("parameter Valence:\t",param_v)

parameter Arousal:	 {'C': 10.0, 'gamma': 0.1}
parameter Valence:	 {'C': 100.0, 'gamma': 0.01}

INITIAL MODEL

In [7]:
svr_case1_a = SVR(kernel='rbf',C=1e1,gamma=1e-1,cache_size=500) #init Arousal
svr_case1_v = SVR(kernel='rbf',C=1e2,gamma=1e-2,cache_size=500) #init Valence

TRAIN

In [8]:
# #Predict Arousal
a_a,train_a,df1_a = predict(train_data_a, train_values_a, test_data_a, test_values_a, svr_case1_a)
# #Predict Valence
a_v,train_v,df1_v = predict(train_data_v, train_values_v, test_data_v, test_values_v, svr_case1_v)

r2_a = score(a_a,test_values_a) #Score Arousal
r2_v = score(a_v,test_values_v) #Score Valence

AROUSAL

In [9]:
df1_a = df1_a.round(2)

display(df1_a.head())
print("R2 Score Arousal:\t%0.2f" % r2_a)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,4.56,6.0,6.73,3.55,3.83,4.77,2.84,6.57,3.55,4.87,...,6.57,4.56,4.84,4.79,4.3,4.93,5.74,6.17,4.3,3.18
1,6.20,5.9,6.40,3.10,3.50,3.60,3.00,5.80,3.60,6.20,...,7.00,5.00,3.70,5.80,4.7,4.90,4.80,6.30,3.3,2.20

R2 Score Arousal:	0.64

VALENCE

In [10]:
df1_v = df1_v.round(2)

display(df1_v.head())
print("R2 Score Valence: %0.2f" % r2_v)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,5.52,6.59,6.0,4.45,4.82,5.19,4.16,6.07,4.5,5.33,...,5.47,5.14,4.64,5.37,4.69,5.38,5.3,5.58,4.55,4.34
1,2.70,6.40,6.0,2.70,5.00,3.20,4.60,4.30,4.1,6.70,...,6.60,4.80,2.50,5.60,3.80,4.40,6.5,6.50,4.00,3.50

R2 Score Valence: 0.26

REGRESSION

In [11]:
scores_a = regresion(svr_case1_a,data,arousal_mean) #Arousal Regression
scores_v = regresion(svr_case1_v,data,valence_mean) #Arousal Regression

AROUSAL

In [12]:
print("R2 Score Valence:\t",scores_a)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_a.mean(), scores_a.std() ))

R2 Score Valence:	 [0.35148234 0.47426051 0.53743623 0.33322728 0.67713811 0.50831268
 0.54411134 0.52206316 0.64106632 0.57329945]
R2 Score Valence:	0.52 (+/- 0.10)

VALENCE

In [13]:
print("R2 Score Valence:\t",scores_v)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_v.mean(), scores_v.std() ))

R2 Score Valence:	 [-0.00545195  0.00489033  0.00194577 -0.31454604  0.32930869 -0.05314173
  0.19602254  0.21544256  0.29688727  0.12116712]
R2 Score Valence:	0.08 (+/- 0.18)

In [15]:
save_predict(df1_a.round(2),df1_v.round(2),datafitur)
save_model(train_a,datafitur,'arousal/') #save model Arousal
save_model(train_v,datafitur,'valence/') #save model Valence

# CASE 2

In [16]:
datafitur = "case2" #CASE 2

data,arousal_mean,valence_mean = load(datafitur) #Load
print(data.shape)

train_data_a, test_data_a, train_values_a, test_values_a = split(data,arousal_mean) #split arousal
train_data_v, test_data_v, train_values_v, test_values_v = split(data,valence_mean) #split valence

(744, 34)

GRIDSEARCH

In [18]:
param_a, score_a = gridsearch(data,arousal_mean) #Gridsearch Arousal
param_v, score_v = gridsearch(data,valence_mean) #Grinsearch Valence

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [19]:
print("parameter Arousal:\t",param_a)
print("parameter Valence:\t",param_v)

parameter Arousal:	 {'C': 1000.0, 'gamma': 0.01}
parameter Valence:	 {'C': 1000.0, 'gamma': 0.01}

INITIAL MODEL

In [20]:
svr_case2_a = SVR(kernel='rbf',C=1e3,gamma=1e-2,cache_size=500) #init Arousal
svr_case2_v = SVR(kernel='rbf',C=1e3,gamma=1e-2,cache_size=500) #init Valence

TRAIN

In [21]:
# #Predict Arousal
a_a,train_a,df2_a = predict(train_data_a, train_values_a, test_data_a, test_values_a, svr_case2_a)
# #Predict Valence
a_v,train_v,df2_v = predict(train_data_v, train_values_v, test_data_v, test_values_v, svr_case2_v)

r2_a = score(a_a,test_values_a) #Score Arousal
r2_v = score(a_v,test_values_v) #Score Valence

AROUSAL

In [22]:
df2_a = df2_a.round(2)

display(df2_a.head())
print("R2 Score Arousal:\t%0.2f" % r2_a)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,4.84,5.78,6.74,3.36,3.64,4.59,3.09,6.26,3.36,5.02,...,6.47,4.98,4.84,4.6,4.59,4.71,5.76,6.29,3.97,2.91
1,6.20,5.90,6.40,3.10,3.50,3.60,3.00,5.80,3.60,6.20,...,7.00,5.00,3.70,5.8,4.70,4.90,4.80,6.30,3.30,2.20

R2 Score Arousal:	0.67

VALENCE

In [23]:
df2_v = df2_v.round(2)

display(df2_v.head())
print("R2 Score Valence:\t%0.2f" % r2_v)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,5.74,6.25,6.58,4.22,4.72,5.02,4.23,5.84,4.03,5.61,...,5.38,5.65,4.85,5.15,5.02,5.16,5.24,5.29,4.12,3.65
1,2.70,6.40,6.00,2.70,5.00,3.20,4.60,4.30,4.10,6.70,...,6.60,4.80,2.50,5.60,3.80,4.40,6.50,6.50,4.00,3.50

R2 Score Valence:	0.27

REGRESSION

In [24]:
scores_a = regresion(svr_case2_a,data,arousal_mean) #Arousal Regression
scores_v = regresion(svr_case2_v,data,valence_mean) #Arousal Regression

AROUSAL

In [25]:
print("R2 Score Valence:\t",scores_a)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_a.mean(), scores_a.std() ))

R2 Score Valence:	 [0.40964922 0.51776703 0.56141047 0.47352075 0.69328549 0.54074744
 0.53195885 0.5615723  0.64552993 0.53860356]
R2 Score Valence:	0.55 (+/- 0.08)

VALENCE

In [26]:
print("R2 Score Valence:\t",scores_v)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_v.mean(), scores_v.std() ))

R2 Score Valence:	 [ 0.05491591  0.08038344 -0.01993064 -0.2448629   0.29757837  0.0038916
  0.24149165  0.2591306   0.30774944  0.10761363]
R2 Score Valence:	0.11 (+/- 0.16)

In [27]:
save_predict(df2_a.round(2),df2_v.round(2),datafitur)
save_model(train_a,datafitur,'arousal/') #save model Arousal
save_model(train_v,datafitur,'valence/') #save model Valence

# CASE 3

In [28]:
datafitur =  "case3" #CASE 3
data,arousal_mean,valence_mean = load(datafitur) #Load
print(data.shape)

train_data_a, test_data_a, train_values_a, test_values_a = split(data,arousal_mean) #split arousal
train_data_v, test_data_v, train_values_v, test_values_v = split(data,valence_mean) #split valence

(744, 37)

GRIDSEARCH

In [29]:
param_a, score_a = gridsearch(data,arousal_mean) #Gridsearch Arousal
param_v, score_v = gridsearch(data,valence_mean) #Grinsearch Valence

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [30]:
print("parameter Arousal:\t",param_a)
print("parameter Valence:\t",param_v)

parameter Arousal:	 {'C': 1000.0, 'gamma': 0.01}
parameter Valence:	 {'C': 10.0, 'gamma': 0.1}

INITAL MODEL

In [31]:
svr_case3_a = SVR(kernel='rbf',C=1e3,gamma=1e-2,cache_size=500) #init Arousal
svr_case3_v = SVR(kernel='rbf',C=1e1,gamma=1e-1,cache_size=500) #init Valence

TRAIN

In [32]:
# #Predict Arousal
a_a,train_a,df3_a = predict(train_data_a, train_values_a, test_data_a, test_values_a, svr_case3_a)
# #Predict Valence
a_v,train_v,df3_v = predict(train_data_v, train_values_v, test_data_v, test_values_v, svr_case3_v)

r2_a = score(a_a,test_values_a) #Score Arousal
r2_v = score(a_v,test_values_v) #Score Valence

AROUSAL

In [33]:
df3_a = df3_a.round(2)

display(df3_a.head())
print("R2 Score Arousal:\t%0.2f" % r2_a)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,4.86,5.75,6.75,3.37,3.64,4.57,3.07,6.21,3.32,5.01,...,6.54,4.95,4.81,4.51,4.59,4.74,5.73,6.19,3.99,2.9
1,6.20,5.90,6.40,3.10,3.50,3.60,3.00,5.80,3.60,6.20,...,7.00,5.00,3.70,5.80,4.70,4.90,4.80,6.30,3.30,2.2

R2 Score Arousal:	0.67

VALENCE

In [34]:
df3_v = df3_v.round(2)

display(df3_v.head())
print("R2 Score Valence:\t%0.2f" % r2_v)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,5.47,6.05,6.14,4.28,4.61,5.13,4.29,6.18,4.14,5.43,...,5.79,5.47,5.03,5.22,5.08,5.16,5.38,5.32,4.38,3.94
1,2.70,6.40,6.00,2.70,5.00,3.20,4.60,4.30,4.10,6.70,...,6.60,4.80,2.50,5.60,3.80,4.40,6.50,6.50,4.00,3.50

R2 Score Valence:	0.27

REGRESSION

In [35]:
scores_a = regresion(svr_case3_a,data,arousal_mean) #Arousal Regression
scores_v = regresion(svr_case3_v,data,valence_mean) #Arousal Regression

AROUSAL

In [36]:
print("R2 Score Valence:\t",scores_a)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_a.mean(), scores_a.std() ))

R2 Score Valence:	 [0.41868525 0.51895511 0.56485624 0.41522804 0.69306043 0.54808447
 0.54037525 0.55801343 0.65337922 0.52749667]
R2 Score Valence:	0.54 (+/- 0.08)

VALENCE

In [37]:
print("R2 Score Valence:\t",scores_v)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_v.mean(), scores_v.std() ))

R2 Score Valence:	 [ 0.00829888  0.06770377  0.0326363  -0.16903681  0.39041868 -0.00950492
  0.15897042  0.19400362  0.36594728  0.16708484]
R2 Score Valence:	0.12 (+/- 0.16)

In [38]:
save_predict(df3_a.round(2),df3_v.round(2),datafitur)
save_model(train_a,datafitur,'arousal/') #save model Arousal
save_model(train_v,datafitur,'valence/') #save model Valence

# CASE 4

In [39]:
datafitur =  "case4" #CASE 3
data,arousal_mean,valence_mean = load(datafitur) #Load
print(data.shape)

train_data_a, test_data_a, train_values_a, test_values_a = split(data,arousal_mean) #split arousal
train_data_v, test_data_v, train_values_v, test_values_v = split(data,valence_mean) #split valence

(744, 85)

GRIDSEAERCH

In [41]:
param_a, score_a = gridsearch(data,arousal_mean) #Gridsearch Arousal
param_v, score_v = gridsearch(data,valence_mean) #Grinsearch Valence

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [42]:
print("parameter Arousal:\t",param_a)
print("parameter Valence:\t",param_v)

parameter Arousal:	 {'C': 100.0, 'gamma': 0.01}
parameter Valence:	 {'C': 100.0, 'gamma': 0.01}

INITIAL MODEL

In [43]:
svr_case4_a = SVR(kernel='rbf',C=1e2,gamma=1e-2,cache_size=500) #init Arousal
svr_case4_v = SVR(kernel='rbf',C=1e2,gamma=1e-2,cache_size=500) #init Valence

TRAIN

In [44]:
# #Predict Arousal
a_a,train_a,df4_a = predict(train_data_a, train_values_a, test_data_a, test_values_a, svr_case4_a)
# #Predict Valence
a_v,train_v,df4_v = predict(train_data_v, train_values_v, test_data_v, test_values_v, svr_case4_v)

r2_a = score(a_a,test_values_a) #Score Arousal
r2_v = score(a_v,test_values_v) #Score Valence

AROUSAL

In [45]:
df4_a = df4_a.round(2)

display(df4_a.head())
print("R2 Score Arousal:\t%0.2f" % r2_a)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,4.58,5.51,7.75,3.11,3.71,4.6,3.17,6.15,4.01,5.27,...,7.28,5.24,4.67,3.95,4.63,5.01,5.72,6.45,4.07,2.73
1,6.20,5.90,6.40,3.10,3.50,3.6,3.00,5.80,3.60,6.20,...,7.00,5.00,3.70,5.80,4.70,4.90,4.80,6.30,3.30,2.20

R2 Score Arousal:	0.60

VALENCE

In [46]:
df4_v = df4_v.round(2)

display(df4_v.head())
print("R2 Score Valence:\t%0.2f" % r2_v)

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,4.71,6.0,6.37,4.29,5.48,4.88,3.58,5.48,4.57,5.09,...,6.26,5.34,3.38,4.51,5.04,4.56,5.38,5.11,4.04,3.45
1,2.70,6.4,6.00,2.70,5.00,3.20,4.60,4.30,4.10,6.70,...,6.60,4.80,2.50,5.60,3.80,4.40,6.50,6.50,4.00,3.50

R2 Score Valence:	0.32

REGRESSION

In [47]:
scores_a = regresion(svr_case4_a,data,arousal_mean) #Arousal Regression
scores_v = regresion(svr_case4_v,data,valence_mean) #Arousal Regression

AROUSAL

In [48]:
print("R2 Score Valence:\t",scores_a)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_a.mean(), scores_a.std() ))

R2 Score Valence:	 [0.38402045 0.53286047 0.39602996 0.35011149 0.67843454 0.40226401
 0.46798638 0.53057364 0.56168541 0.57680329]
R2 Score Valence:	0.49 (+/- 0.10)

VALENCE

In [49]:
print("R2 Score Valence:\t",scores_v)
print("R2 Score Valence:\t%0.2f (+/- %0.2f)" % (scores_v.mean(), scores_v.std() ))

R2 Score Valence:	 [ 0.05838259  0.09409181  0.01960362 -0.2073902   0.32336875 -0.02595365
  0.11851643  0.09627089  0.23877682  0.25113016]
R2 Score Valence:	0.10 (+/- 0.15)

In [50]:
save_predict(df4_a.round(2),df4_v.round(2),datafitur)
save_model(train_a,datafitur,'arousal/') #save model Arousal
save_model(train_v,datafitur,'valence/') #save model Valence

In [ ]:
# # Load from file
# with open(arousal_model, 'rb') as file_arousal:
#     arousal_model = pickle.load(file_arousal)
# # # Load from file
# # with open(valence_model, 'rb') as file_valence:
# #     valence_model = pickle.load(file_valence)

# a = arousal_model.predict(test_data_a)